<template>
  <div id="about">
    <h1>Com s'ha fet?</h1>
    <p><span style="color:brown">S'ha instal·lat vue-cli, amb el route i el mòdul axios.</span><span style="color:blue">El site funciona a partir d'un component principal i 4 vistes. </span><span style="color:green">Els components es carreguen exclusivament pel mòdul route.</span><span style="color:violet">Les dades de les pàgines individuals es generen amb un component: DestinationDetails.vue. </span><span style="color:red">La info de la pàgina Cities.vue i DestinationDetails.vue està al store.js. </span><span>L'exercici es basa en el model del següent video:</span></p>

    <a href="https://vueschool.io/lessons/vuejs-router-creating-routes">Vue: Creating Routes</a>
  </div>
</template>


<style >
#about {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  margin-left: 0.4em;
  color: #2c3e50;
  font-size: 5em;
}

#about h1{
	margin-top: 10px;
	margin-bottom: 8px;
}

</style>

