<template>
  <div id="content">

    <h1>Cities</h1>
    <div id=llista>
      <li v-for="capital in store.capitals" :key="capital.nom">
        <!-- <router-link :to="{ name: capital.nom, params: {id: capital.slug }}">{{capital.nom}}</router-link> -->
        <router-link :to="{ name: 'DestinationDetails', params: {slug: capital.slug}}">{{capital.nom}}</router-link>
      </li>
    </div>


  </div>
</template>



<script>

import store from  "@/store.js"


export default {

  name:'Cities',

  data: function () {

    return {

      http:null,
      jsonResponse:{},
      store,

      apiValues: {
                "coord": {
                  "lon":145.77,
                  "lat":-16.92},
                "weather":[{
                  "id":803,
                  "main":"Clouds",
                  "description":"broken clouds",
                  "icon":"04n"}],
                "base":"cmc stations",
                "main":{
                  "temp":293.25,
                  "pressure":1019,
                  "humidity":83,
                  "temp_min":289.82,
                  "temp_max":295.37
                },
                "wind":{
                  "speed":5.1,
                  "deg":150},
                "clouds":{
                  "all":75},
                "rain":{
                  "3h":3},
                "dt":1435658272,
                "sys":{
                  "type":1,
                  "id":8166,
                  "message":0.0166,
                  "country":"AU",
                  "sunrise":1435610796,
                  "sunset":1435650870
                },
                "id":2172797,
                "name":"Cairns",
                "cod":200
      }
    }
  },

 

  methods: {

    refresh (p){
      this.intents = this.intents + 1
      if (this.intents > 0) {
        this.apiGetCiutat = event.target.value
        this.ciutatTriada = p
        this.apiGetCiutat = ("https://api.openweathermap.org/data/2.5/weather?q=" + this.apiGetCiutat + "&appid=2e84ec51d8f3a61dcc749f18638d5b30&lang=ca")
        this.getResults();
        this.desplega = true
        window.alert(p)
      }


    },


    actualitza (event) {
      this.intents = this.intents + 1
      if (this.intents > 0) {
        this.apiGetCiutat = event.target.value
        this.ciutatTriada = this.apiGetCiutat
        this.apiGetCiutat = ("https://api.openweathermap.org/data/2.5/weather?q=" + this.apiGetCiutat + "&appid=2e84ec51d8f3a61dcc749f18638d5b30&lang=ca")
        this.getResults();
        this.desplega = true
      }
    },

    getResults:function() {
      axios
      const axios = require('axios');

      // Make a request for a user with a given ID
      axios.get(this.apiGetCiutat)
        .then(response => (this.jsonResponse = response.data))
    },
  }
}
</script>





<style scoped>


#llista {
  text-align: left;
  margin-left: 28px;

} 

p{
  margin-left: 0px;
  text-align: left;
}


li { 
  display: inline;
  text-align: left;
  margin-left: 0px;
  margin-top: 0px;
  list-style-type:none;
  font-size: 4em;

}

a:link{
  text-decoration: underline;
  color: #2c3e50;
}

li:after {
    content: ", ";
}


a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

h1 {
  font-size: 6em;
  margin-top: 22px;
  margin-left: 24px;
  margin-bottom: 14px;
  text-align: left;
  line-height: 90%;

}


#nav-cities h2{
  font-size: 20em;
  padding: 30px;
  text-align: left;
}

#nav-cities a {
  font-weight: bold;
  color: #2c3e50;
}

</style>
