<template>
	<div>
		<h1>{{destination.nom}}</h1>
		<!-- <h2>{{destination.id}}</h2>
		<h2>{{destination.slug}}</h2> -->
		<h2>Temperatura: {{jsonResponse.main.temp}}°F</h2>
		<h2>Pressió: {{jsonResponse.main.pressure}} mbars</h2>
		<h2>Humitat: {{jsonResponse.main.humidity}}%</h2>
		<h2>Cel: {{jsonResponse.weather[0].description}}</h2>
	
    </div>
</template>

<script>

import store from  "@/store.js"

export default {
	
	name: 'DestinationDetails',
	capital: store,
	apiGetCiutat: null,


	data: function () {

		return {

			destinationSlug: this.$route.params.slug,
			jsonResponse:{},
			apiGetCiutat: "",			

			apiValues: {
				"coord": {
				"lon":145.77,
				"lat":-16.92},
				"weather":[{
					"id":803,
					"main":"Clouds",
					"description":"broken clouds",
					"icon":"04n"}],
				"base":"cmc stations",
				"main":{
					"temp":293.25,
					"pressure":1019,
					"humidity":83,
					"temp_min":289.82,
					"temp_max":295.37},
				"wind":{
					"speed":5.1,
					"deg":150},
				"clouds":{
					"all":75},
				"rain":{
					"3h":3},
				"dt":1435658272,
				"sys":{
					"type":1,
					"id":8166,
					"message":0.0166,
					"country":"AU",
					"sunrise":1435610796,
					"sunset":1435650870},
				"id":2172797,
				"name":"Cairns",
				"cod":200
			}
		}	
	},

	//Execucio de la primera funcio a despres de la carrega del component
	created: function () {
       this.getClima();
    },

    //Primera execucio pel muntatge del component despres de rebre els parametres del 
    //route
	computed: {

		//Funcio que retorna el objecte del store que condincideix amb el
		// slug passat pel route i poder pintar les dades
		destination(){
			return store.capitals.find(
				capital => capital.slug === this.destinationSlug);
		}

	},

	methods: {

		//Funcio de composicio de la url per la consulta a l api
		getClima:function() {
			this.apiGetCiutat = this.destinationSlug,
			this.apiGetCiutat = ("https://api.openweathermap.org/data/2.5/weather?q=" + this.apiGetCiutat + "&appid=2e84ec51d8f3a61dcc749f18638d5b30&lang=ca")
			
			this.getResults();
		},

		//Funcio de consulta a l api
		getResults:function() {
			axios
			const axios = require('axios');
			axios.get(this.apiGetCiutat)
			.then(response => (this.jsonResponse = response.data))
		}

		
	}
}

</script>




<style scoped>
h1 {
  font-size: 6em;
  margin-top: 22px;
  margin-left: 24px;
  margin-bottom: 14px;
  text-align: left;
  line-height: 90%;

}


h2 {
  font-size: 3em;
  margin-top: 10px;
  margin-left: 24px;
  margin-bottom: 14px;
  text-align: left;
}
	

</style>
