<template>
  <div class="content">
    <h1>Web de test de rutes amb Vue</h1>
      <p>Instal·lació pelada amb Vue CLI.</p>
      <img src="@/assets/esquema.png" align="left">
    
  </div>
</template>

<script>
export default {
  name: 'Home'

}
</script>

<style scoped>

h1 {
	font-size: 10em;
	margin-top: 22px;
	margin-left: 33px;
	text-align: left;
	line-height: 90%;
  margin-bottom: 60px;


}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
p{
  margin-top: 0px;
  font-size: 5em;
  text-align: left;
  margin-left: 33px;
}


</style>
