<template>
  <div id="app">
    <div id="nav">
      <router-link to ="/"><img src="./assets/nino.png" height="42" width="42"></router-link>
      <router-link to="/">Home</router-link> |
      <router-link to="/cities">Cities</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view :key="$router.path"/>
  </div>
</template>



<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
  text-align: left;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
